{
    "baseUrl": "/",
    "authUrl": "https://example.com/auth",
    "logoutUrl": "https://example.com/logout",
    "channelsUrl": "https://example.com/channels.json",
    "recommendedBrowser": "some browser"
}
