{
	"baseUrl": "/",
	"authUrl": "https://example.com/auth",
	"logoutUrl": "https://example.com/logout",
	"channelsUrl": "https://example.com/channels.json",
	"legacyUrl": "https://example.com/legacy",
	"recommendedBrowser": "some browser",
	"supportingMailbox": "its@tsinghua.edu.cn"
}
